.section{
    margin-top: 10px;
}

h3{
    color: #334155;
}
.text{
    margin-top: 10px;
    width: 100%;
    height: 70vh;
    padding: 10px;
}

.bot{
    display: flex;
    justify-content: end;
}

.bot .btn{
    margin-left: 5px;
    background-color: #0f172a;
    border-radius: 6px;
    color: white;
}

